@import "../sass/components/label";
@import "../sass/abstracts/variables";

@mixin borderColor($color) {
  border-top-color: $color;
}

.container {
  @media (min-width: 1025px) and (max-width: 1280px) {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em 0;
  }

  @media (min-width: 1281px) {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #647196;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  border-bottom: 1px solid #CDD2EE;

  @media (min-width: 960px) {
    display: none;
  }

  .filter {
    color: #3A4374;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.4;
  }

  .active {
    border-bottom: 3px solid #AD1FEA;
    opacity: 1;
  }
}

.grid {
  display: none;

  @media (min-width: 960px) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2em;
  }

  .col {
    h4 {color: #3A4374; font-size: 1.125rem;}

    .title {
      display: none;
      padding: 2em 0;
      h4 {margin-bottom: 0.3em;}

      @media (min-width: 960px) {
        display: block;
      }
    }
  }
}

.cards {
  display: grid;
  grid-gap: 2em;
  .card {
    background-color: #fff;
    padding: 2em;
    border-radius: $border-radius;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.7em;
    border-top-width: 0.4em;
    border-top-style: solid;

    &__status {
      display: flex;
      align-items: center;
      gap: 1em;

      &__circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
    &__label {
      @extend %label;
      width: fit-content;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__upvote {
        display: flex;
        align-items: center;
        background-color: $btn-background-primary;
        gap: 0.3em;
        padding: 0.7em 1em;
        border-radius: $border-radius;
      }

      &__qty {
        display: flex;
        align-items: center;
        gap: 0.5em;
        border-radius: $border-radius;

        h5 {font-size: 1rem;}
      }
    }
  }
}

.responsive__cards {
  padding: 1.5em;
  display: grid;
  grid-gap: 2em;

  @media (min-width: 960px) {
    display: none;
  }
}