.feedbacks__container {
  margin-top: 0;
  padding: 1em;

  @media (min-width: 1025px) {
    margin-top: 1em;
    padding: 0;
  }

  .feedbacks {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}