@import "../sass/layout/container";
@import "../sass/components/edit-btn";
@import "../sass/abstracts/variables";

$link-color: #647196;
$primary: #F7F8FD;
$radius: 0.25rem;
$bordercolor: #4661E6;

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 1em;

  @media (min-width: 1025px) {
    padding: 1em 0;
  }

  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2em;
    margin-bottom: 4em;

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .go_btn {
        a {
          font-weight: 700;
          font-size: 0.875rem;
          color: $link-color;

          &:hover { text-decoration: underline; }
        }
        img {margin-right: 1em}
      }
      
      .edit_btn {
        a {
          @extend %edit;
        }
      }
    }

    .comment_container {
      background-color: #fff;
      border-radius: 0.625rem;
      padding: 2em 1.5em;

      h4 { font-size: 1.125rem; color: $headerColor; }
    }

    .add_comment {
      background-color: #fff;
      border-radius: 0.625rem;
      padding: 2em 1.5em;
      
      .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        h4 { color: $headerColor; font-size: 1.125rem; }
        .textarea {
          width: 100%;
          textarea {
            appearance: none;
            resize: none;
          }
        }

        &__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            color: #fff;
            padding: 0.9em 1.8em;
            font-weight: 700;
            border-radius: 0.625rem;
            font-size: 0.875rem;
            border: none;
            background-color: $purple;
            cursor: pointer;

            &:hover {
              background-color: $purpleHover;
            }
          }

          span {
            color: #647196;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.input {
  width: 100%;
  border: 2px solid $primary;
  border-radius: $radius;
  background-color: $primary;
  padding: 1em;
  appearance: none;
  transition: border 0.3s ease;

  &:focus {
    border-color: $bordercolor;
    border-width: 2px;
    outline: none;
  }

  &::placeholder {
    font-weight: 500;
    color: #8C92B3;
  }
}