@import "../sass/layout/container";
@import "../sass/components/edit-btn";
@import "../sass/abstracts/variables";

$link-color: #647196;
$primary: #F7F8FD;
$radius: 0.25rem;
$bordercolor: #4661E6;

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 1em;

  @media (min-width: 1025px) {
    padding: 1em 0;
  }

  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2em;
    margin-bottom: 4em;

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .go_btn {
        a {
          font-weight: 700;
          font-size: 0.875rem;
          color: $link-color;

          &:hover { text-decoration: underline; }
        }
        img {margin-right: 1em}
      }
      
      .edit_btn {
        a {
          @extend %edit;
        }
      }
    }

    .comment_container {
      background-color: #fff;
      border-radius: 0.625rem;
      padding: 2em 1.5em;

      h4 { font-size: 1.125rem; color: $headerColor; }
    }
  }
}