.container {
  position: relative;

  @media (min-width: 1025px) and (max-width: 1280px) {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em 0;
  }

  @media (min-width: 1281px) {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: relative;

    .main {
      flex: auto;
    }
  }
}