.navbar {
  width: 100%;
  background-color: #373F68;
  color: #fff;
  border-radius: 0.625rem;
  padding: 1.3em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    gap: 3em;

    &__suggestions {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    &__sort {
      .sort_by {
        font-weight: 200;
      }
    }
  }

  &__right {
    .add_feedback {
      text-decoration: none;
      color: #fff;
      background-color: #AD1FEA;
      padding: .7em 1.5em;
      border-radius: 0.625rem;
      font-weight: 500;

      &:hover {
        background-color: #C75AF6;
      }
    }
  }
}