$btn-background-primary: #F2F4FF;
$border-radius: 0.625rem;
$border-color-primary: #F49F85;
$border-color-purple: #AD1FEA;
$blue: #62BCFA;
$edit-btn-color: #4661E6;
$blue-darken: #4661E6;
$headerColor: #3A4374;
$purple: #AD1FEA;
$purpleHover: #C75AF6;